@model Entities.Cart.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

    <div class="container" style="margin: auto; width: 350px;">
        <h2>Details</h2>
        <h4>Product</h4>
        <hr />
        <div class="card" style="width: 320px; padding:10px; border-radius:10px;">
            <img src=@Model.ImagePath alt="item image" style="height:300px; width:300px;" /><br />

            <dl class="dl-horizontal">
                <dt>
                    Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Price
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.UnitPrice)
                </dd>
            </dl>

            <p>
            
                @Html.ActionLink("Back to List", "Index") 
                @using (Html.BeginForm("AddToCart", "Cart", new { id = Model.ProductID }, FormMethod.Post))
                {
                    <button type="submit" class="pull-right ">Add<i class="fa fa-shopping-cart"></i></button>
                }
            </p>

        </div>
        
    </div>

